@model IEnumerable<SchoolbookApp.Models.Note>

@{ 
    ViewBag.Title = "NotesTeacherClass";
}

<h4>Забележки на @ViewBag.Student</h4>

<p>
    <a asp-action="Create"  asp-route-studentId="@ViewBag.StudentId" asp-route-subjectId="@ViewBag.SubjectId">Нанеси нова</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Причина
            </th>
            <th>
                Дата и час
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
