@model SchoolbookApp.Models.TeacherClassModel

@{
    ViewBag.Title = "TeacherClass";
    int studentCount = 0;
    var subjId = ViewBag.SubjectId;
    var classId = ViewBag.ClassId;
    var className = ViewBag.ClassName;
    var studentObj = ViewBag.StudentObj;
    var absences = ViewBag.Absences;
    if (absences == null)
    {
        string noAbs = "Ученикът няма отсъствия";
    }
    var isMainTeacher = ViewBag.IsMainTeacher;
    string studentId = "";
    string fullName = "";
    string grades = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/teacher.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/teacher.js" asp-append-version="true"></script>
</head>
<body>
    <h2 id="studentsTableHeader">Списък на учениците от @className</h2>
    @if (((IEnumerable<dynamic>)studentObj).Count() == 0)
    {
        <h4 id="dlTitle">Все още няма ученици в този клас!</h4>
    }
    else
    {
        <form asp-action="SaveChanges">
            <table id="students">
                <tr>
                    <th>Номер</th>
                    <th>Име</th>
                    <th>Оценки</th>
                    <th>Нова оценка</th>
                    <th>Нова забележка</th>
                    <th>Ново отсъствие</th>
                    @*@if (isMainTeacher)
                    {
                        <th>Още</th>
                    }*@
                </tr>
                @foreach (var student in studentObj)
                {
                    studentCount++;
                    studentId = student.GetType().GetProperty("Id").GetValue(student, null);
                    fullName = student.GetType().GetProperty("FullName").GetValue(student, null);
                    grades = student.GetType().GetProperty("Grades").GetValue(student, null);
                    <input type="hidden" value="@classId" asp-for="ClassId" />
                    <input type="hidden" value="@subjId" asp-for="Grade.SubjectId" />
                    <input type="hidden" value="@subjId" asp-for="Note.SubjectId" />
                    <input type="hidden" value="@subjId" asp-for="Absence.SubjectId" />
                    <tr>
                        <td class="numberInClass">@studentCount</td>
                        <td>@fullName.ToString()</td>
                        <td>
                            @grades.ToString()

                        </td>
                        <td>
                            <div class="saveSection">
                                <button id="btnSaveClassChanges" class="dropbtn" asp-controller="Grades" asp-action="GradesTeacherClass" asp-route-studentId="@studentId" asp-route-subjectId="@subjId">Нанеси/редактирай</button>
                                    @*<input type="hidden" value="@studentId" asp-for="Grade.StudentId" />
                                    <input type="hidden" value="@studentId" asp-for="Absence.StudentId" />
                                    <input type="hidden" value="@studentId" asp-for="Note.StudentId" />
                                    <div id="gradeSection">
                                        <div id="gradeNum">
                                            <label asp-for="Grade.Value" class="control-label">Оценка: </label>
                                            <select asp-for="Grade.Value" class="form-control tableInputDDFields">
                                                <option value="-1"></option>
                                                <option value="6">6</option>
                                                <option value="5">5</option>
                                                <option value="4">4</option>
                                                <option value="3">3</option>
                                                <option value="2">2</option>
                                            </select>
                                        </div>
                                        <div id="gradeReason">
                                            <label asp-for="Grade.Basis" class="control-label">Причина: </label>
                                            <select style="width: 160px;" asp-for="Grade.Basis" class="form-control tableInputDDFields">
                                                <option value="-1"></option>
                                                <option value="Срочна">Срочна</option>
                                                <option value="Годишна">Годишна</option>
                                                <option value="Класно">Класно</option>
                                                <option value="Тест">Тест</option>
                                                <option value="Устно изпитване">Устно изпитване</option>
                                                <option value="Писмено изпитване">Писмено изпитване</option>
                                            </select>
                                            <div>
                                                <label asp-for="Grade.DateTime" class="control-label">Дата: </label>
                                                <input asp-for="Grade.DateTime" class="form-control tableInputDDFields" />
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                        </td>
                        <td>
                            <div id="noteSection">
                                <div class="saveSection">
                                    <button id="btnSaveClassChanges" class="dropbtn" asp-controller="Notes" asp-action="NotesTeacherClass" asp-route-studentId="@studentId" asp-route-subjectId="@subjId" style="background-color:brown">Нанеси/редактирай</button>
                                </div>
                                @*<div>
                                    <label asp-for="Note.Text" class="control-label">Забележка: </label>
                                    <input asp-for="Note.Text" class="form-control tableInputDDFields" />
                                </div>
                                <div>
                                    <label asp-for="Note.DateTime" class="control-label">Дата: </label>
                                    <input asp-for="Note.DateTime" class="form-control tableInputDDFields" />
                                </div>
                            </div>*@
                        </td>
                        <td>
                            <div class="saveSection">
                                <button id="btnSaveClassChanges" class="dropbtn" asp-controller="Absences" asp-action="AbsencesTeacherClass" asp-route-studentId="@studentId" asp-route-subjectId="@subjId" style="background-color:darkcyan">Нанеси/редактирай</button>
                            </div>
                            @*<div id="absenceSection">
                                <label>Брой отсъствия: </label>
                                <div>
                                    @Html.RadioButtonFor(model => model.Absence.Half, "true", false)@Html.Label("половин")
                                    @Html.RadioButtonFor(model => model.Absence.Half, "false", false)@Html.Label("цяло")
                                </div>
                                <div>
                                    <label asp-for="Absence.DateTime" class="control-label">Дата: </label>
                                    <input asp-for="Absence.DateTime" class="form-control tableInputDDFields" />
                                </div>
                            </div>*@
                        </td>
                        @*@if (isMainTeacher)
                        {
                            <td>
                                <a href="#"><span>Детайли</span></a>
                                @foreach (var el in absences)
                                {
                                    <label class="control-label">@el.Absence</label>
                                    @Html.CheckBoxFor(model => model.Absence.isExcused, false)
                                }
                            </td>
                        }*@
                        <!--<td class="tdSaveChanges">
                            <div class="saveSection">
                                <button id="btnSaveClassChanges" class="dropbtn" onclick="SaveStudentChanges()">Запиши промени</button>-->
                                @*//TO DO:
                                <button id="btnSaveClassChanges" class="dropbtn" onclick="AddAbsence(@studentId, @subjid)">Ново отсъствие</button>*@
                            <!--</div>
                        </td>-->
                    </tr>
                }
            </table>
        </form>
    }
    <div class="dialogBox">
        <div id="dialog">
            <h4 id="dlTitle"></h4>
        </div>
    </div>
</body>
</html>
