@model IEnumerable<SchoolbookApp.Models.UserUser>

@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Index";
}

<h3>@ViewBag.User - родител</h3>

<p>
    <a asp-action="Create" asp-route-userId="@Model.SingleOrDefault().UserId">Добави ученик</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Име на ученик
            </th>
            <th>
                Фамилия на ученик
            </th>
            <th>
                Имейл
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @foreach (var student in ViewBag.Students)
            {
                if (student.Id == item.StudentId)
                {
                    <td>@student.Name</td>

                    <td>@student.Surname</td>
                    <td> @student.Email </td>
                    <td>
                        <a asp-controller="Users" asp-action="Edit" asp-route-id="@student.Id">Детайли за ученик</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Премахни</a>
                    </td>
                }
            }
        </tr>
}
    </tbody>
</table>
