@model SchoolbookApp.Models.Subject

@{
    ViewData["Title"] = "Delete";
    ViewBag.Title = "Delete";
}

<h1>Потвърждение за изтриване</h1>

<h4>Сигурни ли сте, че искате да изтриете следния предмет?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Предмет
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.SubjectType.Name
        </dd>
        <dt class = "col-sm-2">
            Клас
        </dt>
        <dd class="col-sm-10">
            @ViewBag.SchoolClass.Num @ViewBag.SchoolClass.Letter
        </dd>
        <dt class = "col-sm-2">
            Учител
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Teacher.Name @ViewBag.Teacher.Surname
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Отмяна</a>
    </form>
</div>
