@model SchoolbookApp.Models.Subject

@{
    ViewData["Title"] = "Details";
    ViewBag.Title = "Details";
}

<h1>Детайли</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Предмет
        </dt>
        <dd class="col-sm-10">
            @ViewBag.SubjectType.Name
        </dd>
        <dt class="col-sm-2">
            Клас
        </dt>
        <dd class="col-sm-10">
            @ViewBag.SchoolClass.Num @ViewBag.SchoolClass.Letter
        </dd>
        <dt class="col-sm-2">
            Учител
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Teacher.Name @ViewBag.Teacher.Surname
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">График</a> |
    <a asp-action="Index">Връщане</a>
</div>
