@model SchoolbookApp.Models.Subject

@{
    ViewData["Title"] = "Details";
    ViewBag.Title = "Details";
}

<h1>Детайли</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Предмет
        </dt>
        <dd class="col-sm-10">
            @ViewBag.SubjectType.Name
        </dd>
        <dt class="col-sm-2">
            Клас
        </dt>
        <dd class="col-sm-10">
            @ViewBag.SchoolClass.Num @ViewBag.SchoolClass.Letter
        </dd>
        <dt class="col-sm-2">
            Учител
        </dt>
        <dd class="col-sm-10">
            @ViewBag.Teacher.Name @ViewBag.Teacher.Surname
        </dd>
    </dl>
</div>
<h4>Ученици</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Номер в клас
            </th>
            <th>
                Име
            </th>
            <th>
                Фамилия
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var student in ViewBag.Students)
            {
            <tr>
                <td>@i</td>
                <td>@student.Name</td>
                <td>@student.Surname</td>
            </tr>
             }
         }

    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">График</a> |
    <a asp-action="Index">Връщане</a>
</div>
