@model IEnumerable<SchoolbookApp.Models.Subject>

@{
    ViewData["Title"] = "Index";
    ViewBag.Title = "Index";
}

<h1>Предмети</h1>

<p>
    <a asp-action="Create">Нов час</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Клас
            </th>
            <th>
                Предмет
            </th>
            <th>
                Учител
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var subj in Model) {
        <tr>
            @foreach (var schoolClass in ViewBag.SchoolClasses)
            {
                if (schoolClass.Id == subj.SchoolClassId)
                {
                    <td>@schoolClass.Num @schoolClass.Letter</td>
                    break;
                }
            }
            @foreach (var subjType in ViewBag.SubjectTypes)
            {
                if (subjType.Id == subj.SubjectTypeId)
                {
                    <td>@subjType.Name</td>
                    break;
                }
            }
            @foreach (var teacher in ViewBag.Teachers)
            {
                if (teacher.Id == subj.TeacherId)
                {
                    <td>@teacher.Name @teacher.Surname</td>
                    break;
                }
            }
            <td>
                <a asp-action="Edit" asp-route-id="@subj.Id">График</a> |
                <a asp-action="Details" asp-route-id="@subj.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@subj.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
