@model IEnumerable<SchoolbookApp.Models.Subject>
@{
    ViewData["Title"] = "StudentsProgram";
}

<head>

</head>
<body>
    <h1 id="weekly-program">Седмична програма за @ViewBag.ClassNum@ViewBag.ClassLetter клас:</h1>
    <div class="weekly-program">
        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Понеделник</th>
                </tr>
                <tr>
                    <th>Час</th>
                    <th>Предмет</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var subject in Model.ToList().OrderBy(x => x.Time))
                    {
                        @if (subject.Day == DayOfWeek.Monday)
                        {

                            <tr>
                                <td>@subject.Time</td>
                                <td>@subject.SubjectType.Name</td>
                            </tr>
                        }

                    }
                }
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Вторник</th>
                </tr>
                <tr>
                    <th>Час</th>
                    <th>Предмет</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model.ToList().OrderBy(x => x.Time))
                {
                    @if (subject.Day == DayOfWeek.Tuesday)
                    {
                        <tr>
                            <td>@subject.Time</td>
                            <td>@subject.SubjectType.Name</td>
                        </tr>
                    }

                }
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Сряда</th>
                </tr>
                <tr>
                    <th>Час</th>
                    <th>Предмет</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model.ToList().OrderBy(x => x.Time))
                {
                    @if (subject.Day == DayOfWeek.Wednesday)
                    {
                        <tr>
                            <td>@subject.Time</td>
                            <td>@subject.SubjectType.Name</td>
                        </tr>
                    }

                }
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Четвъртък</th>
                </tr>
                <tr>
                    <th>Час</th>
                    <th>Предмет</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var subject in Model.ToList().OrderBy(x => x.Time))
                {
                    @if (subject.Day == DayOfWeek.Thursday)
                    {
                        <tr>
                            <td>@subject.Time</td>
                            <td>@subject.SubjectType.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <table class="table table-striped table-bordered table-light">
            <thead class="thead-dark">
                <tr>
                    <th colspan="2">Петък</th>
                </tr>
                <tr>
                    <th>Час</th>
                    <th>Предмет</th>
                </tr>

            </thead>
            <tbody>
                @foreach (var subject in Model.ToList().OrderBy(x => x.Time))
                {
                    @if (subject.Day == DayOfWeek.Friday)
                    {
                        <tr>
                            <td>@subject.Time</td>
                            <td>@subject.SubjectType.Name</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>

