@model SchoolbookApp.Models.Absence

@{
    ViewData["Title"] = "Create";
    ViewBag.Title = "Create";
}

<h1>Ново отсъствие</h1>
<hr />
<h4>на @ViewBag.Student</h4>
<h4>по @ViewBag.SubjectType</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-studentId="@ViewBag.StudentId" asp-route-subjectId="@ViewBag.SubjectId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    Закъснение (1/2)
                    <input class="form-check-input" asp-for="Half" />
                </label>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label">Дата и час</label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Нанеси" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AbsencesTeacherClass" asp-route-studentId="@ViewBag.StudentId" asp-route-subjectId="@ViewBag.SubjectId">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
