@model SchoolbookApp.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Value)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Basis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Basis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyProperty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyProperty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsSemesterGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsSemesterGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsFinalGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsFinalGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
