@model IEnumerable<SchoolbookApp.Models.SchoolClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Класове</h1>

<p>
    <a asp-action="Create">Създай нов</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Клас
            </th>
            <th>
                Паралелка
            </th>
            <th>
                Класен ръководител
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Letter)
            </td>
            <td>
                @foreach (var teacher in ViewBag.Teachers)
                {
                    if (teacher.SchoolClassId == item.Id)
                    {
                        @teacher
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редактирай</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Ученици</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
            </td>
        </tr>
}
    </tbody>
</table>
